<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>MVC Update</title>
</head>
<body>
    <h1>Atualizar Unicórnio</h1>
    <input type="text" id="input_id" placeholder="ID do Registro"><br><br>
    <input type="text" id="input_name" placeholder="Nome"><br><br>
    <input type="number" id="input_age" placeholder="Idade"><br><br>
    <input type="text" id="input_colour" placeholder="Cor"><br><br>
    <button id="btn_atualizar">Atualizar</button>
    <p id="mensagem"></p>
    <script src="assets/script.js"></script>
</body>
</html>